<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snownaul.studyguide">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
    카카오톡
    네이티브 앱 키
    625539f964cefd6cea24924ee86f767c
    REST API 키
    ede3d6d439eecc0ef0508aac8eeb39b9
    JavaScript 키
    7feb4c56b54d42145ded683841f49992
    Admin 키
    56a7e4c2bf261f03f4e22c054e28b638
    -->
    <application
        android:name=".Classes.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Activities.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".Activities.FirstSettingActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>